@media only screen and (orientation: portrait) {
  .scroll-container {
    overflow: auto;
    height: 60vh;
  }

  .scroll-content {
    padding-bottom: 15%;
  }
}

@media only screen and (orientation: landscape) {
  .scroll-container {
    overflow: auto;
    height: 60vh;
    padding-bottom: 5%;
  }

  .scroll-content {
    padding-bottom: 15%;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}