@media only screen and (max-height: 760px) {
  .scroll-container {
    overflow: auto;
    height: 50vh;
  }
}

@media only screen and (min-height: 760px) {
  .scroll-container {
    overflow: auto;
    height: 60vh;
  }
}
