.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

button:hover {
    background-color: deepskyblue;
}

button:active {
    background-color: cornflowerblue;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}