@media only screen and (orientation: portrait) {
    .card-container{
        width:80%;
        margin-left: 2.3%;
        margin-top:20px;
    }
    .card{
        width: 100%;
        background-color: #745246;
        margin-left: 10%;
        border-radius: 12px;
        height: 90px;
    }
    #store-image{
        width:75px;
        height: 75px;
        margin-top:7.5px;
        margin-left:7.5px;
        border-radius: 12px;
        float: left;
    }
    .card-contents{
        float: left;
        margin-left: 10px;
        height: 87px;
    }
    #store-name{
        font-size: 17px;
        margin: 0;
        color: white;
        margin-top: 10px;
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        
    }
    #store-miles{
        font-size: 15px;
        margin: 0;
        color: white;
        margin-top:6px;
    }
    #store-details{
        margin: 0;
        background: none;
        border:none;
        margin-top:6px;
        font-size: 15px;
        color: white;
        margin-left: -6px;
    }
}

@media only screen and (orientation: landscape) {
    .card-container {
        width: 100%;
        margin-top: 20px;
    }

    .card {
        width: 100%;
        background-color: #745246;
        border-radius: 12px;
        height: 90px;
    }

    #store-image {
        width: 75px;
        height: 75px;
        margin-top: 7.5px;
        margin-left: 7.5px;
        border-radius: 12px;
        float: left;
    }

    .card-contents {
        float: left;
        margin-left: 10px;
        height: 87px;
    }

    #store-name {
        font-size: 17px;
        margin: 0;
        color: white;
        margin-top: 10px;
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    #store-miles {
        font-size: 15px;
        margin: 0;
        color: white;
        margin-top: 6px;
    }

    #store-details {
        margin: 0;
        background: none;
        border: none;
        margin-top: 6px;
        font-size: 15px;
        color: white;
        margin-left: -6px;
    }
}
