@media only screen and (orientation: portrait) {
    :root {
        --background-color: #745246;
    }

    footer {
        background-color: var(--background-color);
        display: flex;
        width: 100%;
        height: 7%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    footer>.left-placeholder,
    footer>.right-placeholder {
        flex-grow: 1;
    }

    footer>.footer-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-button {
        background-color: #745246;
        border: none;
    }
}

@media only screen and (orientation: landscape) {
    footer {
        display: none;
    }
}