@media only screen and (max-width: 600px) {
  .modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .location-container {
    background-color: rgb(217, 187, 169);
    border-radius: 10px;
    padding: 10%;
    text-align: center;
    width: 70%;
    height: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 2;
  }

  #location-title {
    font-size: 24px;
    margin: 0 0 5%;
  }

  .location-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label-address {
    margin: 10px 0;
    text-align: left;
    width: 100%;
  }

  .submit-button-group {
    margin-top: 10px;
    width: 100%;
  }

  .submit-button-group button {
    background-color: #745246;
    font-size: 18px;
    color: white;
    padding: 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-container {
    width: 100%;
  }
}
