@media only screen and (max-width: 600px) {
  .storeDetails-container {
    width: 99%;
    padding-top: 60px;
    margin: 0;
  }
  .slider-image{
    width: 100%;
    margin: 0;
    margin-left: .5%;
    position: fixed;
    top:60px;
  }
  .detailsTitle-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top:270px;
  }
  #details-title {
    margin: 0;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 27px;
  }

  .address-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    position: fixed;
    top: 325px;
  }
  #address {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    margin-left: 10%;

  }
  .rate {
    margin: 0;
    padding: 0;
    float: left;
    height: 46px;
    padding-top: 10px;
    margin-left: 9%;
    margin-bottom: 5px;
    position: fixed;
    top:357px;
  }
  .drive-thru-container {
    float: left;
    width: 100%;
    margin-top: -30px;
    margin-bottom: 5px;
    position: fixed;
    top:415px;
  }
  #check-image {
    width: 25px;
    float: left;
    margin-left: 10%;
    margin-top: 15px;
  }
  #drive-thru {
    font-size: 18px;
    margin-left: 5px;
    float: left;
  }
  .time-container {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    margin-top: -20px;
    margin-bottom: 10px;
    position: fixed;
    top: 450px;
  }
  .day {
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding-top: 5px;
    margin-left: 10%;
  }
  .details-container {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 3px;
    background-color: #745246;
    border-radius: 12px;
    overflow: auto;
    height: fit-content;
    height: 100px;
    position: fixed;
    top:630px;
  }
  #details-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
  }
  .button-container {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    position: fixed;
    bottom: 45px;
  }
  #reviews {
    width: 50%;
    font-size: 18px;
    border-radius: 12px;
    background-color: #745246;
    border: none;
    color: white;
    height: 50px;
  }
}
