@media only screen and (max-width: 600px) {
  .storeDetails-container {
    width: 99%;
    /* padding-top: 60px; */
    margin: 0;
  }
  .slider-image {
    width: 100%;
    margin: 0;
    margin-left: 0.5%;
    position: fixed;
    top: 88px;
  }
  .detailsTitle-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #details-title {
    margin: 0;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 27px;
    position: fixed;
    top: 290px;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .address-container {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 40px;
    margin-top: 10px;
    position: fixed;
    top: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #address {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    margin-left: 10%;
  }
  .rate {
    margin: 0;
    padding: 0;
    float: left;
    height: 46px;
    padding-top: 10px;
    margin-left: 9%;
    margin-bottom: 5px;
    margin-top: -35px;
    position: fixed;
    top: 400px;
    left: 33px;
    /* top:425px;
    left: 0px; */
  }
  .drive-thru-container {
    float: left;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 5px;
  }
  #check-image {
    width: 25px;
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    position: fixed;
    top: 422px;
    left: -5px;
  }
  #check-image-2 {
    width: 25px;
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    position: fixed;
    top: 423px;
    left: 145px;
  }
  #drive-thru {
    font-size: 16px;
    margin-left: 5px;
    float: left;
    position: fixed;
    top: 425px;
    left: 60px;
  }
  #curbside {
    font-size: 16px;
    margin-left: 5px;
    float: left;
    position: fixed;
    top: 425px;
    left: 210px;
  }
  .time-container {
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    border-radius: 12px;
    position: fixed;
    top: 460px;
    height: 170px;
    overflow: auto;
  }
  .day {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-top: 5px;
    margin-left: 5%;
  }
  .details-container {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 3px;
    background-color: #745246;
    border-radius: 12px;
    overflow: auto;
    height: fit-content;
    height: 80px;
    position: fixed;
    top: 650px;
  }
  #details-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 90%;
    margin-left: 5%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
  }
  .button-container {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    position: fixed;
    bottom: 45px;
  }
  #reviews {
    width: 50%;
    font-size: 18px;
    border-radius: 12px;
    background-color: #745246;
    border: none;
    color: white;
    height: 50px;
  }
  #reviews-btn {
    position: fixed;
    bottom: 53px;
    left: 15px;
    width: 42%;
    margin-left: 25%;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    background-color: #745246;
    border: none;
    color: white;
  }

  #reviews-btn:disabled {
    background-color: #6d635f;
  }

  #reviews-btn2 {
    position: fixed;
    bottom: 53px;
    left: 200px;
    width: 40px;
    margin-left: 25%;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    background-color: #745246;
    border: none;
    color: white;
  }
  .review-container-slider {
    width: 90%;
    margin: 0;
    margin-left: 5%;
    border-radius: 12px;
    height: 150px;
    background-color: #745246;
    border: none;
    margin-bottom: 20px;
  }
  .title-container {
    width: 100%;
    color: white;
    margin-top: 15px;
  }
  #review-name {
    float: left;
    width: 60%;
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #review-rating {
    float: left;
    width: 35%;
    margin: 0;
    font-size: 20px;
  }
  .text-container {
    width: 96%;
    height: 100px;
    overflow: auto;
    color: white;
  }
  #review-text {
    text-align: left;
    margin-left: 5%;
    font-size: 15px;
  }
  #top-title {
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .review-title-container {
    margin: 0;
    width: 100%;
    background-color: #745246;
    text-align: center;
    color: white;
  }
  .fav-btn {
    position: fixed;
    /* top: 370px;
    left: 189px; */
    top: 370px;
    left: 230px;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    z-index: 1;
    /* FIX Z INDEX WHEN LOCATION / SIGNUP/IN IS PRESSED */
  }
}
